<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} 首页 {% endblock %}</title>
    <link href="{{plugins}}bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{plugins}}font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{cssPath}}dashboard.css" rel="stylesheet" />
    <link href="{{cssPath}}style.css" rel="stylesheet" />
    {% block head %} {% endblock %}
</head>

<body>
    {% include "./layout/header.html" %}

    <div class="container-fluid">
        <div class="row">

            {% include "./layout/sidebar.html" %}


            <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% block main %}

                {% endblock %}
            </main> -->
            <!-- iframe 多页签方式 -->
            <div class="tabs-group col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <ul class="tab-ul clearfix" id="tab-ul">
                    <li class="tab-li float-left active" ifram-id="{{server}}index" data-id="index" id="tab-index">
                        <span>主页</span> <!-- <i class="fa fa-times"></i> -->
                    </li>

                </ul>
            </div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="main-iframe" id="main-iframe">
                    <div class="iframe-item active" id="content-index" data-id="index">
                        <iframe src="{{server}}index" frameborder="0" class="iframe-content"></iframe>
                    </div>

                </div>

            </main>


        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{plugins}}bootstrap4/js/bootstrap.min.js"></script>
    <script src="{{plugins}}layer-v3.1.1/layer/layer.js"></script>
    <script src="{{js}}common.js"></script>
    <script>
        (function ($) {
            $(function () {
                //给当前菜单设置选中
                /* $('.caidan').each(function (index, item) {
                    //只适合一级菜单的情况
                    var _link = $(this).attr('data-href');
                
                    var _location = window.location.pathname;
                    var newLocation = _location.toString().split("/");
                    var newLink = $(this)[0].href.split("/");
                    if (newLocation.indexOf(newLink[4]) > 1) {
                        $(this).addClass('active')
                    }
                }) */
                var $caidan = $('.caidan');
                var $tabUl = $('#tab-ul');
                var $iframe = $('#main-iframe');
                $caidan.click(function () {
                    $caidan.removeClass('active');
                    $(this).addClass('active');
                    var url = $(this).attr('data-href');
                    var name = $(this).attr('data-name');
                    var id = $(this).attr('id');
                    var tabStr = '<li class="tab-li float-left active" ifram-id="' + url + '" data-id="' + id + '" id="tab-' + id + '">' +
                        '<span>' + name + '</span> <i class="fa fa-times close-iframe"></i>' +
                        '</li>';
                    var iframeStr = '<div class="iframe-item active" id="content-' + id + '">' +
                        '<iframe src="' + url + '" frameborder="0" class="iframe-content"></iframe>' +
                        '</div>';
                    //防止重复添加
                    var $li = $('#tab-ul > li');
                    var $iframeStr = $('.iframe-item');
                    $li.removeClass('active');
                    $iframeStr.removeClass('active');

                    if ($('#tab-' + id).length > 0) {
                        $('#tab-' + id).addClass('active');
                        $('#content-' + id).addClass('active');
                        return false;
                    }

                    $tabUl.append(tabStr);
                    $iframe.append(iframeStr)

                })

                //切换tab
                $(document).on('click', '#tab-ul>li', function () {
                    var id = $(this).attr('data-id');
                    var $iframe = $('.iframe-item');
                    $(this).addClass('active').siblings().removeClass('active');
                    $('#content-' + id).addClass('active').siblings().removeClass('active');
                });

                //关闭tab
                $(document).on('click', '.close-iframe', function (e) {
                    e.stopPropagation()
                    //删除相应的tab和iframe
                    //分关闭当前选中和关闭未选中两种情况
                    var $li = $(this).closest('li');
                    var id = $li.attr('data-id');
                    var newId = '';
                    var _type;
                    if ($li.hasClass('active')) {//选中状态的关闭
                        $li.prev().addClass('active');
                        newId = $li.prev().attr('data-id');
                        _type = 1;
                        $('#content-' + id).prev().addClass('active');
                        $('#content-' + id).remove();
                        $li.remove();
                    } else {
                        $('#content-' + id).remove();
                        $li.remove();
                        _type = 0;
                    }
                    //重新给菜单添加选中
                    $('.caidan').each(function (index, item) {
                        $(item).removeClass('active');
                        var $li = $('#tab-ul > li');
                        var _id = $(item).attr('id');
                        $li.each(function (j, v) {
                            if ($(v).hasClass('active')) {
                                var id = $(v).attr('data-id');
                                if (_id == id) {
                                    $(item).addClass('active');
                                }
                            }
                        })
                        
                    })

                });

            })

        })(jQuery)
    </script>
    {% block footer %}

    {% endblock %}
</body>

</html>