{% extends 'home.html' %}
{% block title %} 首页 {% endblock %}

{% block head %}

{% endblock %}

{% block main %} 
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">                   
      <h2 class="h2">主页</h2>
      <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">分享</button>
              <button class="btn btn-sm btn-outline-secondary">导出</button>
          </div>
          
      </div>
  </div>

  主页内容
  
{% endblock %}

{% block footer %} 

{% endblock %}