<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/plugins/highlight/styles/default.css" rel="stylesheet" />
    <link href="{{plugins}}bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{plugins}}font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{cssPath}}dashboard.css" rel="stylesheet" />
    <link href="{{cssPath}}style.css" rel="stylesheet" />
</head>

<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{server}}index">主页</a></li>
            <li class="breadcrumb-item"><a href="{{server}}api-record">api管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">新增api</li>
        </ol>
    </nav>
    <div class="border-bottom main-top">
        <h2 class="h2"><i class="fa fa-arrow-circle-left goback"></i>新增api</h2>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>请注意：</strong>代码规则一定要输入正确的json字符串，否则将会无法使用，json结合mockjs使用，请参考：
            <a href="http://mockjs.com/examples.html" target="_blank">mockjs使用</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <form id="form">
        <input type="hidden" id="code_id" value="{{detail.id}}" />
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="" value="{{detail.name}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">请求方式</label>
            <div class="col-sm-10">
                <p style="margin-bottom: 0">支持 get,post,delete,put 请求方式，暂不支持参数的解析</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="remark" class="col-sm-2 col-form-label">备注</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="remark" name="remark" placeholder=""
                    value="{{detail.remark}}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="rule" class="col-form-label">代码规则</label>
                <p> <a href="javascript:;" class="demo-btn">代码示例</a></p>
            </div>

            <div class="col-sm-10">
                <textarea class="form-control" id="rule" name="rule" rows="10" placeholder="{
                            code: 200,
                            msg: '成功',
                            data: {
                              list: []
                            }
                        }">{{code}}</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="rule" class="col-sm-2 col-form-label">代码规则预览</label>
            <div class="col-sm-10">
                <pre class="beautify">
                    <code class="plaintext">{{code}}</code>
                </pre>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary save">保存</button>
            </div>
        </div>
    </form>
    <div class="demo-rule" style="display: none">
        <pre class="beautify" style="margin-bottom: 0">
            <code class="plaintext">
                {
                    "resultCode": 200,
                    "resultJson": {
                        "id|10000-20000": 10000,
                        "name": "@cname",
                        "star|0-5": "☆",
                        "locked|1-2": false,
                        "address|1": ["北京市", "贵州省", "浙江省"],
                        "phone": /^(13|14|15|18)[0-9]\d{8}$/,
                        "order|10": [{
                        "id|+1": 10000,
                        "orderName": "@ctitle",
                        "orderTime": "@datetime",
                        "image": Random.image('200x100', '#50B347', '#FFF', 'Mock.js')
                        }],
                        "loginTime": function() {
                            return new Date().getTime();
                        }
                    },
                    "resultMessage": "查询成功"
                }
            </code>
        </pre>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{plugins}}bootstrap4/js/bootstrap.min.js"></script>
    <script src="{{plugins}}layer-v3.1.1/layer/layer.js"></script>
    <script src="{{js}}common.js"></script>
    <script src="/plugins/highlight/highlight.pack.js"></script>{# 代码高亮 #}
    <!-- <script>hljs.initHighlightingOnLoad();</script> -->
    <script>
        function beautify() {
            document.querySelectorAll('.beautify .plaintext').forEach((block) => {
                hljs.highlightBlock(block);
            });
        }
        $(function () {
            beautify()
            $('#rule').blur(function () {
                var _data = $(this).val();
                var $code = $('.beautify>code');
                $code.html(_data);
                beautify()
            });
            $('.save').click(function (e) {
                e.preventDefault();
                var id = $('#code_id').val();
                var name = $.trim($('#name').val()),
                    remark = $.trim($('#remark').val()),
                    rule = $('#rule').val();
                if (!name || !remark || !rule) {
                    layer.msg('请输入完整信息');
                    return false
                }
                $.post('./addPost', {
                    id: id,
                    name: name,
                    remark: remark,
                    code_rule: rule,
                }, function (data) {
                    if (data.code == 200) {
                        window.location.href = '/server/api-record/'
                    }
                    if (data.code == 401) {
                        layer.msg(data.msg, { icon: 1 });
                        setTimeout(function () {
                            window.location.href = '{{server}}login'
                            parent.location.reload();
                        }, 2000)

                    }
                })
            });

            $('.demo-btn').click(function () {
                layer.open({
                    type: 1,
                    //btn: ['关闭'],
                    area: '800px',
                    shade: false,
                    title: '示例代码', //不显示标题
                    content: $('.demo-rule'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                    cancel: function () {
                        //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
                    }
                });
            })
        })
    </script>
</body>

</html>