{% extends 'home.html' %}
{% block title %} api管理 {% endblock %}

{% block head %}
<link href="/plugins/highlight/styles/default.css" rel="stylesheet" />

{% endblock %}

{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">主页</a></li>
        <li class="breadcrumb-item"><a href="#">api管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">详情</li>
    </ol>
</nav>
<div class="border-bottom main-top">
    <div class="row">
        <div class="col-md-8">
            <h1><i class="fa fa-arrow-circle-left goback"></i>{{detail.name}}</h1>
            <p>{{detail.update_time}}</p>
        </div>
        <div class="col-md-4">
            <div class="btn-toolbar mb-2 mb-md-0 float-right">
                <div class="btn-group mr-2">
                    <a class="btn btn-sm btn-danger" href="/server/api-record/add?id={{detail.id}}">编辑</a>
                    <button class="btn btn-sm btn-outline-secondary delete">删除</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            api地址：
        </div>
        <div class="col-md-4">
            规则代码
        </div>
        <div class="col-md-8">
            <pre class="beautify">
                    <code class="plaintext">{{code}}</code>
                </pre>
        </div>
    </div>

</div>

{% endblock %}

{% block footer %}
<script src="/plugins/highlight/highlight.pack.js"></script>{# 代码高亮 #}
<script>hljs.initHighlightingOnLoad();</script>
<script>
    $(function () {
        $('.delete').click(function () {
            var id = $(this).attr('data-id');
            layer.confirm('确定删除该记录吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: '/server/api-record/delete',
                    type: 'delete',
                    data: {
                        id: id
                    },
                    success: function (result) {
                        layer.msg('删除成功', { icon: 1 });
                        setTimeout(function () {
                            window.history.go(-1);
                        }, 2000)
                    }
                });

            }, function () {

            });

        });
    })
</script>
{% endblock %}