body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif,"微软雅黑";
}
.main-top{
  margin-bottom: 20px;
}
.layui-layer-btn .layui-layer-btn0{
  color:#fff !important;
}
.goback{
  margin-right: 20px;
  cursor: pointer;
}
.pagination .page-count{
  display: flex;
  height: 100%;
  border: 1px solid #dee2e6;
  vertical-align: middle;
  align-items: center;
  padding: 0 10px;
}