<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link caidan" href="javascript:;" data-href="{{server}}index" data-name="主页" id="index">
                    <span data-feather="home"></span>
                    主页 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link caidan" href="javascript:;" data-href="{{server}}api-record" data-name="api管理" id="record">
                    <i class="fa-li fa fa-check-square"></i>
                    api管理
                </a>
            </li>
            
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>其他</span>
            <a class="d-flex align-items-center text-muted caidan" href="{{server}}other">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link caidan" href="javascript:;" data-href="{{server}}test" data-name="测试" id="test">
                    <span data-feather="file-text"></span>
                    测试
                </a>
            </li>
           
        </ul>
    </div>
</nav>
